<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Verify Hardware Key</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Verify Hardware Key</h2>
    <form method="POST" action="{{ url_for('auth.verify_hardware_key', user_id=user_id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.private_key.label(class="form-label") }}
            {{ form.private_key(class="form-control", rows="5") }}
        </div>
        <div class="form-group">
            {{ form.data.label(class="form-label") }}
            {{ form.data(class="form-control", rows="5") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
